<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Page</h1>
    <hr>
    <form method="POST">
        <fieldset>
            <legend>Edit DATA</legend>
            <table>
                <tr>
                    <td><label>ID</label></td>
                    <td><input type="text" name="id" value="<%= data.id %>"/></td>
                </tr>
                <tr>
                    <td><label>NAME</label></td>
                    <td><input type="text" name="name" value="<%= data.name %>"/></td>
                </tr>
                <tr>
                    <td><label>PASSWORD</label></td>
                    <td><input type="text" name="password" value="<%= data.password %>"/></td>
                </tr>
            </table>
            <input type="submit"/>
        </fieldset>
    </form>
</body>
</html>